/* .body-gradient-light-grey {
    background: #e9eff2;
    background: linear-gradient(180deg,#236282 0%,#FFF 100%);
    background-image: linear-gradient(rgb(35, 98, 130) 0%, rgb(255, 255, 255) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
} */

.body-gradient-light-grey {
    display: block;
    /* background-image: linear-gradient(to bottom,#FFBD54 0%,#9858fe 50%,#FFBC3A 100%); */
    background-image: linear-gradient(135deg,#0086ff 0%,#f8f9fa 40%,#44c7f4 90%);
    height: 2300px;
}

#qsLoginBtn {
    
    padding: 6px 16px !important;
    text-decoration: none;
    box-shadow: none !important;
    line-height: 25px !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    transition: all 0.2s ease-in-out;
}