/* .body-gradient-light-grey {
    background: #e9eff2;
    background: linear-gradient(180deg,#236282 0%,#FFF 100%);
    background-image: linear-gradient(rgb(35, 98, 130) 0%, rgb(255, 255, 255) 100%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
} */

.body-gradient-light-grey {
    /* display: block; */
    background-image: linear-gradient(135deg,#0086ff 0%,#0ef5df 40%,#44c7f4 90%);
    /* height: 2300px; */
    background-image: url('https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-misctexture01-tong-06-beer-006_1_1.jpg?w=800&dpr=1&fit=default&crop=default&auto=format&fm=pjpg&q=75&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=ca5f92a4672ca7815fcac777ecf58a8e');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

#qsLoginBtn {
    
    padding: 6px 16px !important;
    text-decoration: none;
    box-shadow: none !important;
    line-height: 25px !important;
    -webkit-transform: none !important;
    -ms-transform: none !important;
    transform: none !important;
    transition: all 0.2s ease-in-out;
}
